* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

h1 {
  margin-bottom: 15px;
}

section{
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  #section1, #section2, #section3
  {
    float:left;
    color: white;
  }

  #section1{
    background-color: #332244;
    width:33.33%;
  }

  #section2{
    background-color: #224433;
    width:33.33%;
  }

  #section3{
    background-color: #443322;
    width:33.33%;
  }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #section1, #section2, #section3
  {  
    float:left;
    color: white;
  }

  #section1{
    background-color: #332244;
    width:50%;
  }
  #section2{
    background-color: #224433;
    width:50%;
  }
  #section3{
    background-color: #443322;
    width:100%;
  }
}

/********** Mobile devices only **********/